body {
    background-color: #1c1c1c;
    color: #fff;
  }
  
  form {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 20px;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }

  input, select, textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    height: 20px;
    font-size: 15px;
  }
  
  input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #218838;
  }